* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #fff5fa;
  margin: 0;
  padding-top: 10em;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}
